<h1>Change My Password</h1>

<% form_tag password_reset_url, :method=>:put do %>
  
  <%= hidden_field_tag 'id', @user.perishable_token%>
  
  <label>Password: </label><br />
  <%= password_field_tag :password %>  <br />

  <label>Password confirmation: </label>  <br />
  <%= password_field_tag :password_confirmation %><br />
  <br />
  <%= submit_tag "Update my password and log me in" %>
<% end %>