<div class ="actions">
| <%= link_to 'Tenant/Unit Setup', property %>
| <%= link_to 'Edit', edit_property_path(property) %>
| <%= link_to 'Destroy', property, :confirm => 'Are you sure?', :method => :delete %> |
</div>