<p><%=@inviting_user.firstname%> <%=@inviting_user.lastname%> has invited you to apply for a unit on Rentlook.</p>

<p>Click the link below to complete an application for the unit.</p>

<%= link_to "Apply for my new home", edit_application_url(@application) %>

If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please feel free to contact us.