<p><%=@inviting_user.firstname%> <%=@inviting_user.lastname%> has updated the status or terms of your lease on Rentlook.</p>

<p>Click the link below to complete the lease for the unit.</p>

<%= link_to "Edit or approve your lease", edit_lease_url(@lease) %>

If the above URL does not work try copying and pasting it into your browser. If you continue to have problem please feel free to contact us.