  <div class="actions">
  |<%= link_to "Tenant / Unit setup", unit.property %> |
  | <%= link_to 'Edit unit', edit_unit_path(unit) %>
  | <%= link_to 'Delete unit', unit, :confirm => 'Are you sure?', :method => :delete %> |
  </div>