<%@properties.each do |property|%>
  <div id="property_menu"><span class="title"><%=property.name%></span><span class="link"><%= link_to 'New unit', new_property_unit_path(property) %></span></div>
  <%property.units.each do |unit|%>
    <%=render :partial=>"unit", :object=>unit%>
    <%=render :partial=>"unitMenu", :locals=>{ :unit => unit }%>
  <%end%>

<%end%>